<%= simple_form_for @company do |f| %>
  <%= f.input :name, placeholder: 'Ex: Facebook L.D.T.A.',label: 'Nome de sua Empresa:', :input_html => {:style => 'width: 500px'}%>
  <%= f.input :description, placeholder: 'Breve descrição sobre sua Empresa!', label: 'Descrição:', hint: 'Limite de 100 Caracteres!', :input_html => {:style => 'width: 500px', maxlength: "100"} %>
  <label>Logo da Empresa</label>
  <%= f.file_field :logo%>
  <em style="opacity: 0.7;">Caso não possua logo, não enviar nada!</em>
  <%= f.hidden_field :user_id, :value => current_user.id %><br>
<br>
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                companies_path, :class => 'btn btn-default' %>
<% end %>
