<%= simple_form_for @proposal do |f| %>
  <%= f.input :message, :input_html => {:style => 'width: 500px', maxlength: "100"} %>
  <%= f.hidden_field :desire_id, :value => @desire.id %>
  <label for="">Imagens da Proposta</label><br>
  <%= f.file_field :img1 %><br>
  <%= f.file_field :img2 %><br>
  <%= f.file_field :img3 %><br>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                proposals_path, :class => 'btn btn-default' %>
<% end %>
