<%- model_class = Proposal -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% if (@proposals.nil?) || (@proposals.empty?) %>
  <h3>Você não possuí nenhuma Proposta.</h3>
<% else %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:message) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <th><%= model_class.human_attribute_name(:desire_id) %></th>
      <th><%= model_class.human_attribute_name(:img1) %></th>
      <th><%= model_class.human_attribute_name(:img2) %></th>
      <th><%= model_class.human_attribute_name(:img3) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= link_to proposal.id, proposal_path(proposal) %></td>
        <td><%= proposal.message %></td>
        <td><%= proposal.status %></td>
        <td><%= proposal.notes %></td>
        <td><%= proposal.desire_id %></td>
        <td><%= proposal.img1 %></td>
        <td><%= proposal.img2 %></td>
        <td><%= proposal.img3 %></td>
        <td><%= proposal.user_id %></td>
        <td><%=l proposal.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      proposal_path(proposal), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_proposal_path(proposal), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      proposal_path(proposal),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_proposal_path,
            :class => 'btn btn-primary' %>
